.allTasks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.taskWrapper {
    display: flex;
    flex-direction: column;
    background-image: url(http://i.imgur.com/3WW8yqt.jpg);
    height: 100vh;
    align-content: center;
}

#addButton {
    width: 200px;
    align-self: center;
}

.taskButton {
    text-align: center;
}

.titles {
    text-align: center;
}