.taskColumn {
    width: 15rem;
    align-content: center;
}

.taskColumn {
    width: 25em;
}

.allTasks {
    align-content: center;
}

.far {
    color: white;
}

.card-body {
    fill-opacity: initial;
}

.btn {
    margin: 8px;
}

.buttonLayout {
    text-align: right;
}