.allTasks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.taskWrapper {
    display: flex;
    flex-direction: column;
    background-image: url(http://i.imgur.com/3WW8yqt.jpg);
    height: 100vh;
    align-content: center;
}
