body {
    margin: 0;
    padding-top: 0px;
    padding-bottom: 50px;

}

.nav-pills {
    background: transparent;
    text-align: center;
}

.nav-link {
    color: black;
}

.logBtn {
    display: flex;
    flex-direction: row-reverse;
}

.nav {
    justify-content: center;
}